glisp
glisp-lsp
dist/
examples/*/*
!examples/**/*.glsp
!examples/*/static/
!examples/*/static/*
!examples/**/*.mod
!examples/**/go.sum
!examples/**/Makefile
!examples/**/Dockerfile
!examples/**/docker-compose.yml
